* {
    box-sizing: border-box;
}

body {
font-family: 'ubuntu','sans-serif';
}

main table th:first-child,
main table td:first-child {
    width: 150px;
}

main table th:nth-child(2),
main table td:nth-child(2) {
    width: 70px;
}

main table th:last-child,
main table td:last-child {
    width: 50px;
    font-size: 26px;
}

main table td:last-child > i:hover{
    color: red;
}

main .profile-picture {
    width: 80px;
    background-color: lightgray;
    object-fit: contain;
    background-position: center;
    border-radius: 20px;
    padding: 5px;
}

/*@include color-mode(dark) {*/
/*    main .profile-picture {*/
/*        background-color: white;*/
/*    }*/
/*}*/


